body{
    background:#ECEFF1;
    display: flex;
    justify-content:center;
}
.container-weather{
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    background:#fcfdfe;
    max-width: 600px;
    margin: 85px 90px;
    padding: 30px;
    border-radius: 15px;
}
h1{
    color:#99154C;
    -webkit-text-stroke: 0.9px black;
     text-align: center;
     margin-top:  -15px;
     font-family: 1.2rem "Fira Sans", sans-serif;
     font-size: 270%;
}
#wishes{
    text-align: center;
    font-family: 1.2rem "Fira Sans", sans-serif;
    color:#99154C;
    font-size: 135%;
}
h2{
    display: flex;
    justify-content:center; 
    color:#99154C;
   font-weight: bold;
    /* font-style: normal;*/
    margin-right: 15px; 
    font-family: 1.2rem "Fira Sans", sans-serif;
    -webkit-text-stroke: 0.9px black;
    font-size: 200%;
}
.weather-app-icon {
    width: 60px; 
    height: 60px; 
     margin-top: -17px;
     margin-bottom: 0px;
     margin-left: 3px;
}
.forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
  }
.info-date-temp{
   text-align: center;
    gap: 17px;
    background-color:white;
    border-radius: 15px;
    padding:10px 10px;
    margin:-1px 20px ;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    font-family: 1.2rem "Fira Sans", sans-serif;
}
.info-date-temp{
    text-align: center;
    color:#000000;
    margin: 0% auto;
    padding: 0% auto;
    border: 1px solid white;
    border-radius: 2px; 
}
.info-date-temp:hover{
    text-align: center;
    color: #99154C;
    margin: 0% auto;
    padding: 0% auto;
    border: 1px solid#787b7b;
    border-radius: 2px;
    font-family: 1.2rem "Fira Sans", sans-serif;
}
.temp-min{
    opacity: 0.5;
}
.info-weather{
    font-family: 1.2rem "Fira Sans", sans-serif;
    display: flex;
    justify-content: center; 
  }
  #humidity{
    color: #99154C;
    font-weight: bold;
    white-space: nowrap;
}
#wind-speed{
    color: #99154C;
    font-weight: bold;
    white-space: nowrap;
}
.time-container {
 font-family: 1.2rem "Fira Sans", sans-serif;
 display: flex;              
  justify-content: center;    
  align-items: center;        
 } 
.dayOfTheMonth{
  font-weight: bold;
  font-style: normal;
  margin-right: 15px;
  color:#99154C;
}
.currentMonth{
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin-right: 15px;
  color:black; 
}
.currentYear{
  font-weight: bold;
  font-style: normal;
  margin-right: 15px;  
  color:#99154C;
}
.dayOfTheWeek{
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin-right: 15px;
  color:black; 
}
.currentTime{
  font-weight: bold;
  font-style: normal;
  margin-right: 15px;
  color:#99154C;
}
.search-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
}
input[type="search"]{
    background-color: #ebedec;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 35px;
}
input[type="submit"] {
    color: #ebedec;
    background-color:#99154C;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
    padding:14.5px;
    margin: 2px;
    margin-left: 3px;
    border-radius: 5px;
   line-height: 1;
    transition:0.4s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
input[type="submit"]:hover{
    background-color:#ad225c;  
    color: #ebedec;
}
#description{
    display: block;
   width: 100px;
   margin: 0 auto;
    padding: 0 25px;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #d3d5d4;
    font-family: 1.2rem "Fira Sans", sans-serif;
    margin-top: -20px;
    text-align-last: center;
}
.weather-forecast-icon{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}
hr {
    width: 90%;
    border-color: rgb(250, 248, 248);
  }
footer {
    display: flex;
    flex-direction: column;
    height: 30%; 
} 
a{
    color: #99154C;
    
    text-decoration: none;
}
a:hover{
    color: #99154C;
    text-decoration: underline;
    -webkit-text-stroke: 0.9px black;
}
.name{
   text-align: center;
   margin-top: 10px;
   margin-bottom: 20px;
   font-family:1.2rem "Fira Sans", sans-serif;
}