body{
    background:#fafafa;
    border: 1px solid #111111;
    border-radius: 4px;
    padding:100px 100px;
    margin:60px 250px ;
    display: flex;
    justify-content:center;
    position: fixed;
    }
  
h1{
    color: #fbafaf;
    -webkit-text-stroke: 0.9px black;
     text-shadow: 1px 1px 4px black;
}
h2{
    display: flex;
    justify-content:center;
    color:#e85f99;
    font-family: "Orbitron", sans-serif;
    margin: 10px 10px;
}

.time-container {
    display: flex;
   justify-content:center;
  
}
.days{
    list-style-type: none;
    display: flex;
    margin: auto;
    padding: 10px;
    gap: 17px;
}
.day1, .day2, .day3, .day4, .day5, .day6{
    color:#000000;
    margin: 0% auto;
    padding: 0% auto;
    border: 1px solid#fafafa;
    border-radius: 2px;
}
.day1:hover, .day2:hover, .day3:hover, .day4:hover, .day5:hover, .day6:hover {
    color:#1d9484;
    margin: 0% auto;
    padding: 0% auto;
    border: 1px solid rgb(66, 57, 148);
    border-radius: 2px;
}
.dayOfTheMonth{
    color: #4e2222;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-right: 15px;
}
.currentMonth{
    color:#4e2222;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin-right: 15px;
}
.currentYear{
    color: #4e2222;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-right: 15px;  
}
.dayOfTheWeek{
    color:#4e2222;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin-right: 15px;
}
    
.currentTime{
    color: #4e2222;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-right: 15px;
}

input[type="search"]{
    background-color: #d8f4f0;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


input[type="submit"] {
    color: #fafafa;
    background-color:#e85f99;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
    padding:11px;
    border-radius: 5px;
    line-height: 1;
    transition:0.4s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    height: 30%; 
}
a{
    color: #e85f99;
    text-decoration: none;
}
a:hover{
    color: #1d9484;
    text-decoration: underline;
}
