body{
   /* background:#fafafa;*/
    background:#ECEFF1;
    display: flex;
    justify-content:center;
    position: fixed;
}

.container-weather{
    background:;
    border-radius: 15px;
    padding:100px 100px;
    margin:60px 250px ;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
h1{
    color:#99154C;
    -webkit-text-stroke: 0.9px black;
   /*  text-shadow: 1px 1px 4px black;*/
     text-align: center;
     margin-top:  -15px;
     font-family: 1.2rem "Fira Sans", sans-serif;
}

.wishes{
    text-align: center;
    font-family: 1.2rem "Fira Sans", sans-serif;
    /* -webkit-text-stroke: 0.9px black;*/
    color:#99154C;
}
.author{
    color: #000000;
    font-family: 1.2rem "Fira Sans", sans-serif;
}
  
h2{
    display: flex;
    justify-content:center; 
    color:#99154C;
    font-weight: bold;
    font-style: normal;
    margin-right: 15px; 
    font-family: 1.2rem "Fira Sans", sans-serif;
    -webkit-text-stroke: 0.9px black;

    
}
.weather-app-icon {
    width: 60px; 
    height: 60px; 
     margin-top: -17px;
     margin-bottom: 0px;
     margin-left: 3px;
    
    
}

/*#icon {
    z-index: 10; 
    position: relative; 
     display: block; 
    background: #ECEFF1;
     color: #e85f99;
}*/

.info-weather{
    text-align: center;
    margin-top: 20px;
    font-family: 1.2rem "Fira Sans", sans-serif;
}

.humidity{
    color: #99154C;
    font-weight: bold;
    
}

.wind-speed{
    color: #99154C;
    font-weight: bold;
}

/*h2{
    display: flex;
    justify-content:center;
    color:#e85f99;
   font-family: "Orbitron", sans-serif;
    margin: 10px 10px;

}  */
.time-container {
   display: flex;
   justify-content:center;
margin-top: 30px;
font-family: 1.2rem "Fira Sans", sans-serif;


} 
.days{
    list-style-type: none;
    display: flex;
    /*margin: auto;
    padding: 10px;*/
    gap: 17px;

    background-color:white;
    border-radius: 15px;
    padding:10px 10px;
    margin:-1px 20px ;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    font-family: 1.2rem "Fira Sans", sans-serif;
}
.day1, .day2, .day3, .day4, .day5, .day6{
    color:#000000;
    margin: 0% auto;
    padding: 0% auto;
    border: 1px solid white;
    border-radius: 2px;
}
.day1:hover, .day2:hover, .day3:hover, .day4:hover, .day5:hover, .day6:hover {
    color: #99154C;
    margin: 0% auto;
    padding: 0% auto;
    border: 1px solid rgb(66, 57, 148);
    border-radius: 2px;
    font-family: 1.2rem "Fira Sans", sans-serif;
}
.dayOfTheMonth{
  font-weight: bold;
  font-style: normal;
  margin-right: 15px;
  color:#99154C;
}
.currentMonth{
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin-right: 15px;
  color:black; 
}
.currentYear{
  font-weight: bold;
  font-style: normal;
  margin-right: 15px;  
  color:#99154C;
}
.dayOfTheWeek{
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin-right: 15px;
  color:black; 
}
    
.currentTime{
  font-weight: bold;
  font-style: normal;
  margin-right: 15px;
  color:#99154C;
}

.search-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
}

input[type="search"]{
    background-color: #ebedec;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 35px;
 
}


input[type="submit"] {
    color: #ebedec;
    background-color:#99154C;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
    padding:14.5px;
    margin: 2px;
    margin-left: 3px;
    border-radius: 5px;
   line-height: 1;
    transition:0.4s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    height: 30%; 
} 
a{
    color: #99154C;
    text-decoration: none;
}
a:hover{
    color: #8a948f;
    text-decoration: underline;
}
.name{
    text-align: center;
   margin-top: 10px;
   margin-bottom: 20px;
   font-family:1.2rem "Fira Sans", sans-serif;
}